#listingTable{
	width: 750px;
	margin: 25px auto;
	min-height: 200px;
	border: 1px #000 solid;
	position: relative;
	padding: 20px;
	box-sizing: border-box;
}
button#loadData{
	position: absolute;
	top: 20px;
	right: 20px;
	width: 75px;
    border: 1px #000 solid;
    background-color: #fff;
    cursor: pointer;
}
#listingTable h2{
	margin: 0;
}
#listingTable table{
	display: block;
	margin-top: 20px;
}
#listingTable table thead th.sortable{
	cursor: pointer;
}
#listingTable table thead th,
#listingTable table tbody td{
	border: 1px #000 solid;	
	width: 100%;
}
#listingTable table tbody td button{
	width: 100%;
}
#uploadField{
	display: none;
}