#addForm{
	width: 750px;
	margin: 0 auto;
	min-height: 200px;
	border: 1px #000 solid;
	position: relative;
}

#addForm input[type="text"],
#addForm input[type="email"]{
	margin: 20px;
}
#addForm button{
	position: absolute;
	bottom: 20px;
	right: 20px;
	width: 75px;
    border: 1px #000 solid;
    background-color: #fff;
    cursor: pointer;
}